<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/fragment/header">
    <link rel="stylesheet" th:href="@{/css/index-style.css}"/>
</head>
<body>
<!--navigation-->
<div th:replace="/fragment/navigation"></div>
<!--main-->
<div class="main-container" th:include="/fragment/product-fragment">
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>