<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="/fragment/header"></div>
    <link rel="stylesheet" th:href="@{/css/products-style.css}"/>
</head>
<body>
<!--navigation-->
<div th:replace="/fragment/navigation"></div>

<!--main-->
<div class="cd-filter">
    <form>
        <div class="cd-filter-block">
            <h4>Search</h4>

            <div class="cd-filter-content">
                <input id="search-name" type="search" placeholder="Try color-1...">
            </div> <!-- cd-filter-content -->
            <div class="cd-filter-content">
                <input id="search-quantity-min" type="number" placeholder="Min">
                <input id="search-quantity-man" type="number" placeholder="Max">
            </div> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
        <button type="button" class="btn btn-primary">Primary</button>
    </form>

</div> <!-- cd-filter -->
<div class="main-container" th:include="/fragment/products-fragment">
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>