<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" action="/savePassword" th:object="${change}" method="post"
                                  role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="password" name="password" id="password"
                                           class="form-control" placeholder="Password" th:field="*{password}">
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="passwordConfirm" id="confirm-password"
                                           class="form-control" placeholder="Confirm Password" th:field="*{passwordConfirm}">
                                    <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Name Error</td>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   class="form-control btn btn-register"
                                                   value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>

